/* --- --- Variables --- -- */
$color-ex-aid: #fc00b9; 
$color-robot: #bb1b19;
$color-brave: #00f3fb;
$color-music: #d9f86e;
$color-snipe: #fffe00;
$color-jet: #ec4d02;
$color-lazer: #212121;
$color-giri: #000000;